<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>This is page 4</h3>
    <button ion-button secondary menuToggle>Toggle Menu</button>
    <button ion-button (click)='goBack()'>Go Back</button>
</ion-content>