<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <!--<ion-title>Movies</ion-title>-->
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Movies Page</h3>
    <ul>
        <li>Passengers</li>
        <li>Assasins Creed</li>
        <li>Rogue One</li>
    </ul>
    <button ion-button secondary menuToggle>Toggle Menu</button>
    <button ion-button (click)='goBack()'>Go Back</button>
</ion-content>