<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <!--<ion-title>Page Three</ion-title>-->
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>Ionic Menu Starter</h3>
    <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>