<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <!--<ion-title>TV Series</ion-title>-->
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>TV Series Page</h3>
    <ul>
        <li>Mr. Robot</li>
        <li>Game of thrones</li>
        <li>The big bang theory</li>
    </ul>
    <button ion-button secondary menuToggle>Toggle Menu</button>
    <button ion-button (click)='goBack()'>Go Back</button>
</ion-content>