<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title>Page One</ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Google Search POC</h3>
  <p>To go to top Movies Page, <a (click)='goToMovies()'>click here</a></p>
  <p>To go to top TV Series Page, <a (click)='goToTVSeries()'>click here</a></p>
  <p>To go to the Page4, <a (click)='goToPage4()'>click here</a></p>
  <p>To go to the Page5, <a (click)='goToPage5()'>click here</a></p>
  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>